
*{
    box-sizing: border-box;

}

body{
    margin: 0;
     background-image: url(./bg.jpg);
     
     background-size: cover;
     background-position: center center ;
     min-height: 100vh;
     display: flex;
     background-repeat: no-repeat;
     flex-direction: column;
     align-items: center;
    
    
}
h1{
    font-size:4rem;
    margin-top: -2rem;
    font-weight: normal;
    
    margin-top: 5rem;
    font-family: 'Faster One', cursive;
}

.count{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
   
    line-height: 1;
    margin: 1rem 2rem;
}

.span-names {
    
    text-align: center;
}
.span-names span {
    
    font-size: 1.3rem;
}

footer{
    bottom: 0;
    margin-bottom: 2rem; 
    font-size: 2rem;
    font-family: 'Faster One', cursive;

    color: black;
    position: fixed;
}
@media(max-width: 404px){

    h1{
        font-size: 2rem;
    }
}

  